* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: white;
    color: #e61809;
    padding: 20px;
    font-size: 50px;
    position: relative;
}

h1::before {
    content: "";
    background-image: url('Image/LogoDeporSD.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center; /* Posiciona la imagen a la derecha del h1 */
    position: absolute;
    top: 50%;
    left: 10%; /* Ajusta la posición izquierda según tus necesidades */
    transform: translateY(-50%);
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: 99px; /* Ajusta la altura según tus necesidades */
}

h1::after {
    content: "";
    background-image: url('Image/LogoDeporSD.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center; /* Posiciona la imagen a la izquierda del h1 */
    position: absolute;
    top: 50%;
    right: 10%; /* Ajusta la posición derecha según tus necesidades */
    transform: translateY(-50%);
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: 99px; /* Ajusta la altura según tus necesidades */
}

h2{
    text-align: center;
}
nav ul{
    background-color: #1f5913;
    width: 100%;
    list-style-type: none;
    text-align: center;
    /*display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px;*/
}

nav li {
    display: inline-flex; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: black;
}

img.rounded {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.contenido {
    display: flex;
    margin: 60px;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.secciones {
    width: 23%;
    margin-bottom: 20px;
    border: 1px solid #b9babd;
}

.secciones img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer {
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    padding: 20px;
}

.menu-secundario a:hover {
    background-color: #d3d9d2;
}
